body{
    margin: 0;
    display: flex;
    background-image: url(./img-4/body-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 800px;
    font-family: 'Lato', sans-serif;
}

.navigation{
    background: #000000;
    mix-blend-mode: normal;
    opacity: 0.7;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: auto;
    align-items: center;
    padding-top: 11px;
}

.ellipse{
    width: 12px;
    height: 12px;
    margin-right: 8px;
    border-radius: 50%;
}

.ellipse.red{
    background-color: rgb(218, 70, 70);
}

.ellipse.yellow{
    background-color: rgb(255, 220, 78);
}

.ellipse.green{
    background-color: rgb(120, 223, 120);
}

.ellipse:last-child{
    margin: 0;
}

.tabs{
    display: flex;
    justify-content: center;
}

.social{
    display: flex;
    flex-direction: column;
    margin-top: 19px;
}

.menu{
    background: #25272A;
    mix-blend-mode: normal;
    opacity: 0.75;
    min-width: 261px;
    padding: 45px 25px 20px 15px;
    box-sizing: border-box;
}

.name-point{
    display: flex;
    align-items: center;
}

h1{
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    color: #fff;
    margin: 0 5px 0 0;
}

.action-point{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding-left: 6px;
}

.chat{
    display: flex;
    align-items: center;
    padding-left: 6px;
    margin-top: 30px;
}

.chat p{
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    margin: 0 0 0 12px;
    color: #B5B5B5;
}

.title{
    display: flex;
    justify-content: space-between;
    padding-left: 6px;
    margin-top: 31px;
}

.title p{
    font-weight: 700;
    font-size: 12px;
    line-height: 14px;
    text-transform: uppercase;
    color: #919191;
    margin: 0;
}

.chanel-item{
    padding: 4px 13px 9px;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    color: #fff;
    background: transparent;
    border-radius: 4px;
}

.chanel-item:hover {
    background: rgba(255, 255, 255, 0.2);
    transition: .3s;
    cursor: pointer;
}

.chanel-item.first{
    margin-top: 15px;
}

.chanels{
    position: relative;
}

.scroll{
    position: absolute;
    right: 0;
    top: 30%;
}

.friends{
    display: flex;
    flex-direction: column;
}

.friends .title{
    margin-bottom: 21px;
    margin-top: 17px;
}

.indicator{
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: #666666;
}

.indicator.activ{
    background-color: #70CC16;
}

.friends-item{
    display: flex;
    align-items: center;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #B5B5B5;
    margin-bottom: 10px;
}

.friends-item img{
    padding: 0 11px 0 6px;
}

.main-screen{
    background-color: #fff;
    width: 865px;
    box-sizing: border-box;
}

.name-screen{
    display: flex;
    justify-content: space-between;
    padding: 35px 23px 20px;
    border-bottom: 2px solid #e3e3e3;
}

.item-name-screen{
    display: flex;
    align-items: center;
}

.title-screen h1{
    color: #000000;
    margin-right: 6px;
}

.title-screen{
    display: flex;
    align-items: center;
}

.user-view{
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #A4A4A4;
    display: flex;
    align-items: center;
    margin-right: 24px;
}

.user-view img{
    margin-right: 6px;
}

.search{
    margin-right: 24px;
    padding: 8px 16px;
    background: rgba(0, 0, 0, 0.0001);
    border: 0.5px solid rgba(0, 0, 0, 0.24);
    box-sizing: border-box;
    border-radius: 5px;
    min-width: 240px;
    display: flex;
    justify-content: space-between;
}

.search input{
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    border: none;
    outline: none;
}

.point{
    width: 5px;
    height: 5px;
    background-color: #000000;
    border-radius: 50%;
    margin-bottom: 3px;
}

.point:last-child{
    margin: 0;
}

.menu-point{
    mix-blend-mode: normal;
    opacity: 0.3;
    margin-left: 20px;
}

.last-news{
    display: flex;
    padding: 20px 23px 0 23px;
}

.info-user{
    display: flex;
}

.info-user p:first-child{
    font-weight: 700;
    font-size: 12px;
    line-height: 14px;
    margin: 0 8px 0 0;
}

.info-user p:last-child{
    margin: 0;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    color: #8D8D8D;
}

.info-post a{
    font-weight: 400;
    font-size: 13px;
    line-height: 18px;
    color: #3577EF;
    text-decoration: none;
}

.last-news img{
    margin-right: 12px;
}

.grey-line{
    background: #e3e3e3;
    height: 2px;
    width: 40%;
}

.day-publication{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 23px;
    margin: 13px 0 9px;
}

.day-publication p{
    margin: 0 14px;
    font-weight: 400;
    font-size: 13px;
    line-height: 18px;
    color: #8D8D8D;
}

.post .last-news, .other-news{
    padding: 0 23px 0 23px;
}

.info-post p{
    margin: 2px 0 0;
    font-weight: 400;
    font-size: 13px;
    line-height: 20px;
}

.picture-post{
    margin: 11px 0 14px 67px;
    position: relative;
    width: fit-content;
}

.like-post{
    padding: 5px 11px;
    background: #FFFFFF;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.14);
    border-radius: 7px;
    position: absolute;
    right: -10px;
    bottom: -10px;
}

.day-weekend .grey-line{
    width: 45%;
}

.message{
    padding: 25px 23px;
    display: flex;
    align-items: center;
    border-top: 2px solid #e3e3e3;
    margin-top: 20px;
}

.message input{
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    padding: 5px;
    outline: none;
    border: none;
    background: transparent;
    width: inherit;
}

.message input::placeholder{
    color: #8D8D8D;
}

.fasten, .voice{
    margin-right: 20px;
}

.type-message{
    width: calc(100% - 106px);
}

.profile{
    background: rgba(255, 255, 255, 0.8);
    position: relative;
}

h2{
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    margin: 0;
}

.activ-visited{
    background: #70CC16;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    margin: 5px 0 0 5px ;
}

.name-profile{
    display: flex;
    align-items: center;
    margin-top: 14px;
    padding: 0 20px;
}

.proffessional{
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    color: #5F6164;
    padding: 0 20px;
    margin: 4px 0 20px;
}

.social-link{
    padding: 0 20px;
    margin-bottom: 18px;
}

.social-link img{
    margin-right: 6px;
}

.message-btn{
    padding: 7px 35px;
    background: #3577EF;
    border-radius: 5px;
    font-weight: 700;
    font-size: 13px;
    line-height: 16px;
    color: #fff;
    box-sizing: border-box;
    cursor: pointer;
    border: none;
}

.down-btn{
    padding: 7px 11px;
    background: #3577EF;
    border-radius: 5px;
    cursor: pointer;
    box-sizing: border-box;
    border: none;
}

.message-btn:hover, .down-btn:hover{
    background-color: #C396FD;
    transition: .3s;
}

.btn-profile{
    padding: 0 20px;
}

.item-subtitle{
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    color: #5F6164;
}

p.descr{
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    margin: 2px 0 0 0;
}

.profile-info{
    padding: 0 20px;
    margin-top: 14px;
}

.item-info{
    margin-bottom: 11px;
}

.arrow-right{
    padding: 0 23px 28px;
    width: fit-content;
    position: absolute;
    bottom: 0;
    right: 0;
}