body{
    font-family: 'Montserrat', sans-serif;
    margin: 0;
}

.container{
    width: 60%;
    margin: 0 auto;
}

.zero{
    padding: 35px 0 0;
    background-image: url(./img/bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 1030px;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo{
    display: flex;
    align-items: center;
}

.logo-vector{
    margin-right: 15px;
}

h1{
    font-weight: 400;
    font-size: 74px;
    line-height: 90px;
    text-transform: uppercase;
    color: #212733;
    margin: 0 0 20px 0;
}

.subtitle{
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    color: #000;
    margin-bottom: 60px;
}

.content{
    margin-top: 175px;
    text-align: center;
}

.primary-btn{
    border: 1px solid #000000;
    padding: 20px 30px;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: #000000;
    background: transparent;
}

.primary-btn img{
    margin-left: 45px;
}

.primary-btn:hover{
    cursor: pointer;
    background-color: #d0d8fd;
    border: 1px solid #1e3f7b;
    transition: .3s;
}

.secondary-btn{
    border: 1px solid #ffffff;
    padding: 17px 30px;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: #ffffff;
    background: transparent;
}

.secondary-btn img{
    margin-left: 15px;
}

.secondary-btn:hover{
    background-color: #ffffff6b;
    color: #fff;
    cursor: pointer;
    transition: .3s;
}

.about-company{
    display: flex;
}

.about-company .picture{
    flex: 1;
    background-image: url(./img/about.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

h2{
    font-weight: 500;
    font-size: 48px;
    line-height: 59px;
    margin: 0 0 60px;
}

.about-company-descr{
    text-align: right;
    position: relative;
    flex: 1;
}

.about-company-descr .container{
    margin: 275px auto 275px 107px;
    width: 50%;
}

.about-company-descr p{
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    color: #606060;
    margin: 0 0 40px;
}

.about-company-descr p:last-child{
    margin: 0;
}

.circle-slider{
    position: absolute;
    right: 15%;
    top: 45%;
}

.circle{
    height: 15px;
    width: 15px;
    border-radius: 50%;
    margin-bottom: 15px;
}

.circle:last-child{
    margin: 0;
}

.circle.inner{
    background-color: #313035;
    border: 2px solid #313035;
}

.circle.outside{
   border: 2px solid #8D8C92;
}

.portfolio {
    position: relative;
    text-align: center;
    padding-top: 90px;
}

.portfolio .circle-slider{
    right: 8%;
}

.case{
    position: relative;
}

.case .primary-btn{
    position: absolute;
    top: 27%;
    right: 0;
}

.services{
    background: #1A1F25;
    padding: 90px 0;
    text-align: center;
}

.services h2, .request h2, .special h2{
    color: #fff;
}

.services-content{
    display: flex;
}

.item{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    color: #fff;
    width: 25%;
    padding: 45px 20px;
    border-bottom: 1px solid #595959;
    border-right: 1px solid #595959;
}

.item img{
    margin-bottom: 20px;
}

.services-content .item:last-child{
    border-right: none;
}

.item.btn{
    justify-content: center;
}

.item.btn img{
    margin: 0 0 0 15px;
}

.services-content.details .item{
    border-bottom: none;
}

.advantages{
    background-image: url(./img/bg_adv.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 336px 0 150px;
}

.advantages-descr{
    display: flex;
    justify-content: space-between;
}

.advantages-part{
    width: 45%;
}

.advantages-item{
    display: flex;
    align-items: flex-start;
    margin-bottom: 60px;
}

.advantages-item p{
    margin: 0 0 0 20px;
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    color: #1A1F25;
}

.feedback{
    display: flex;
}

.request{
    background-image: url(./img/bg_feed.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    flex: 1;
}

.request .container{
    margin: 173px 70px 173px auto;
    width: 54%;
}

form{
    display: flex;
    flex-direction: column;
    margin-bottom: 80px;
}

input{
    background: transparent;
    border: none;
    border-bottom: 1px solid #ffffff;
    padding: 40px 10px 40px 5px;
    color: #fff;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    font-family: 'Montserrat', sans-serif;
}

input::placeholder{
    color: #fff;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
}

input:active, input:hover, input:focus {
    outline: 0;
    outline-offset: 0;
}

.special{
    background-color: #000201;
    flex: 1;
}

.special .container{
    margin: 173px auto 0 30px;
    width: 63%;
}

.offer{
    display: flex;
    gap: 10px;
    margin-top: 78px;
}

.offer-item{
    border: 1px solid #fff;
    padding: 59px 15px 30px 15px;
    width: 33%;
    height: 210px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.offer-item.business{
    background: linear-gradient(180deg, #61B3C9 0%, #074D88 100%);
    border: 1px solid transparent;
}

h3{
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    color: #fff;
    margin: 0 0 15px 0;
}

.offer-item .info-offer p{
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #E8E8E8;
    margin: 0;
}

.price-offer s{
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #fff;
}

p.price{
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    color: #fff;
    margin: 6px 0 0 0;
}

.special h2{
    margin-bottom: 138px;
    text-align: right;
}

footer{
    background: #17181C;
    color: #fff;
    padding: 103px 0;
}

.footer-info{
    display: flex;
    justify-content: space-between;
    padding-bottom: 45px;
    border-bottom: 1px solid #595959;
}

.part-info{
    width: 23%;
}

.part-info ul{
    margin: 33px 0 0 0;
    padding: 0;
    list-style: none;
}

.part-info ul li{
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 20px;
    color: #E6E6E6;
}

li.number, li.adress, li.mail{
    display: flex;
}

li.number::before{
    content: url(./img/fi_phone-call.svg);
    padding-right: 15px;
}

li.adress::before{
    content: url(./img/fi_map-pin.svg);
    padding-right: 15px;
}

li.mail::before{
    content: url(./img/fi_mail.svg);
    padding-right: 15px;
}

.links{
    padding-top: 45px;
    display: flex;
    justify-content: space-between;
}

.site-link a{
    color: #fff;
    text-decoration: none;
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
}

.social-link{
    display: flex;
    gap: 10px;
}