body{
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

.container, .awesome-container{
    width: 82%;
    margin: 0 auto;
}

h1{
    font-weight: 500;
    font-size: 48px;
    line-height: 56px;
    text-transform: uppercase;
    font-family: 'Raleway', sans-serif;
    color: #fff;
    margin: 73px 0 55px;
}

h2{
    font-weight: 700;
    font-size: 30px;
    line-height: 41px;
    color: #000000;
    margin: 0 0 68px;
}

h3{
    font-weight: 700;
    font-size: 24px;
    line-height: 33px;
    text-transform: capitalize;
    color: #333333;
    margin: 0;
}

header{
    background-color: #000;
}

header .container{
    padding: 22px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul{
    color: #fff;
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
}

nav ul li{
    font-weight: 600;
    font-size: 14px;
    line-height: 19px;
    text-transform: capitalize;
    margin-right: 70px;
}

.zero{
    background-image: url(./img-2/bg-zero.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.content{
    padding: 208px 0 290px 0;
}

.gray-line{
    width: 170px;
    height: 1px;
    background-color: #fff;
    margin-bottom: 42px;
}

.title-zero{
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: #fff;
    font-family: 'Raleway', sans-serif;
}

.info-zero{
    display: flex;
    align-items: center;
    margin-bottom: 42px;
}

.descr-zero{
    width: 55%;
    margin-right: 30px;
}

.trial{
    background-color: #fff;
    border-radius: 10px;
    width: 35%;
}

.title-trial{
    font-weight: 700;
    font-size: 24px;
    line-height: 33px;
    color: #333;
    text-transform: uppercase;
    text-align: center;
    margin: 30px 0 73px;
}

.title-trial span{
    color: #EC7979;
}

.trial form{
    width: 80%;
    display: flex;
    flex-direction: column;
    margin: 0 auto 75px;
}

.trial form input{
    border: none;
    border-bottom: 1px solid #BDBDBD;
    outline: none;
    padding: 0 3px 16px;
    margin-bottom: 33px;
}

.trial form input:last-child{
    margin: 0;
}

.trial form input::placeholder, .form form input::placeholder{
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    color: #BDBDBD;
}

.btn-trial{
    background: #EC7979;
    border-radius: 0px 0px 10px 10px;
    border: none;
    width: 100%;
    padding: 20px 0;
    font-weight: 600;
    font-size: 15px;
    line-height: 20px;
    color: #fff;
}

.btn-trial:hover{
    cursor: pointer;
}

.primary-btn{
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
    color: #FFFFFF;
    text-transform: capitalize;
    border: 2px solid #FFFFFF;
    background: transparent;
    padding: 17px 90px;
}

.primary-btn:hover{
    cursor: pointer;
    border: 2px solid #EC7979;
    background-color: #EC7979;
    transition: .3s;
}

.secondary-btn{
    background: #EC7979;
    padding: 17px 91px;
    border: 1px solid #EC7979;
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
    text-transform: capitalize;
    color: #fff;
}

.secondary-btn:hover{
    cursor: pointer;
    background: transparent;
    color: #EC7979;
    transition: .3s;
}

.social{
    background: #F8EFEF;
}

.social .container{
    display: flex;
    justify-content:space-between ;
    align-items: center;
    padding: 16px 0;
}

.social-links{
    display: flex;
    justify-content: space-between;
    gap: 30px;
}

.descr-social p{
    margin: 31px 0 0;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: #86878B;
    font-family: 'Raleway', sans-serif;
}

.transition{
    margin-top: 94px;
    padding-bottom: 580px;
}

.tabs {
    position: relative; 
}

.tab, .tab-title {
    display: inline-block; 
}

.tab-title:hover{
    cursor: pointer;
}

.tab input[type="radio"] {
    display: none; 
}

.tab-title {
    background: transparent; 
    padding: 10px 82px; 
    border: 1px solid #fff;
    border-radius: 5px 5px 0px 0px; 
    border-bottom: none; 
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    text-transform: uppercase;
    color: #333333;
}

.tab-flex{
    display: flex;
    align-items: center;
}

.tab-content {
    position: absolute;
    border: 1px solid #C6CBCD; 
    padding-left: 100px; 
    left: 0;
    display: none;
    height: 500px;
}

.tab-content-descr{
    margin-right: 30px;
}

.tab-content-descr p{
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    margin: 0 0 27px;
    font-family: 'Raleway', sans-serif;
}

.tab :checked + .tab-title {
    position: relative;
    background: #fff; 
    top: 1px; 
    z-index: 1; 
    border: 1px solid #C6CBCD;
    border-bottom: none;
}

.tab :checked ~ .tab-content {
    display: block; 
}

.awesome-container, .option .container, .feedback .container,
.download .container, .contact-us .container, footer .container{
    text-align: center;
}

.awesome{
    margin-bottom: 54px;
}

h2.awesome-container-h2, .raleway-h2{
    margin-bottom: 54px;
    font-weight: 400;
    font-size: 36px;
    line-height: 42px;
    text-transform: uppercase;
    font-family: 'Raleway', sans-serif;
}

.awesome-container-title, .raleway-title{
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: #86878B;
    font-family: 'Raleway', sans-serif;
    margin: 40px 0 71px;
}

.awesome-container-line, .red-line{
    width: 170px;
    height: 1px;
    background-color: #EC7979;
    margin: 0 auto;
}

.awesome-container-advantages{
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    gap: 30px;
}

.awesome-container-advantages-advantage_item-title{
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    font-family: 'Raleway', sans-serif;
    margin-top: 41px;
}

.option{
    padding: 104px 0;
    background-color: #F5F5F5;
}

.prices{
    display: flex;
    justify-content: space-between;
    gap: 30px;
}

.part{
    background: #333333;
    border: 2px solid #F5F5F5;
    padding: 14px 143px;
    color: #fff;
    text-transform: capitalize;
}

.part.name{
    font-weight: 700;
    font-size: 24px;
    line-height: 33px;
}

.part.sale{
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    font-family: 'Raleway', sans-serif;
}

.part.period{
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: rgba(255, 255, 255, 0.5);
    font-family: 'Raleway', sans-serif;
}

.include{
    padding: 15px 25px;
    background: #FFFFFF;
    border: 2px solid #F5F5F5;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: #86878B;
    font-family: 'Raleway', sans-serif;
    text-transform: capitalize;
}

.price-item:hover{
    cursor: pointer;
    margin-top: -20px;
    filter: drop-shadow(0px 4px 10px rgba(51, 51, 51, 0.2));
    transition: .3s;
}

.feedback{
    padding: 104px 0 64px;
}

.review{
    display: flex;
    justify-content: space-between;
    gap: 30px;
}

.review-descr{
    background: #E2E2E2;
    border-radius: 10px;
    position: relative;
    padding: 37px 15px 37px;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    font-family: 'Raleway', sans-serif;
    color: #86878B;
}

.review-descr:before {
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    top: 94%;
    right: calc(80% - 12px);
    border-right: 20px solid transparent;
    border-top: 24px solid #E2E2E2;
    border-left: 20px solid transparent;
}

.review-person{
    display: flex;
    margin-top: 50px;
}

.info-person{
    text-align: left;
    margin-left: 30px;
}

.info-person h3{
    margin: 15px 0 25px;
}

.download{
    background-image: url(./img-2/bg-download.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 104px 0 50px;
}

.download .container .raleway-h2, .download .container .raleway-title{
    color: #fff;
}

.download .gray-line{
    margin: 0 auto;
}

.download .primary-btn{
    padding: 17px 141px;
}

.contact-us{
    padding: 104px 0 50px;
}

.forms{
    display: flex;
    justify-content: space-between;
    gap: 30px;
    margin-bottom: 50px;
}

.forms form{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.forms input{
    border: none;
    border-bottom: 1px solid #BDBDBD;
    outline: none;
    padding: 0 3px 16px;
    margin-bottom: 51px;
}

.forms .data input:last-child, .forms .message input{
    margin: 0;
}

.forms .message input{
    padding-bottom: 182px;
}

.contact-us .secondary-btn{
    padding: 17px 126px;
}

footer{
    background-color: #000;
    color: #fff;
    padding: 35px 0 27px;
}

footer .social-links{
    justify-content: center;
    margin-bottom: 30px;
}

footer .social-links img{
    width: 52px;
    height: 52px;
}

.privacy{
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: rgba(255, 255, 255, 0.5);
    font-family: 'Raleway', sans-serif;
}

.slider-review{
    display: none;
}

header.adaptive{
    display: none;
}

#menu__toggle {
    opacity: 0;
}
  
#menu__toggle:checked ~ .menu__btn > span {
    transform: rotate(45deg);
}

#menu__toggle:checked ~ .menu__btn > span::before {
    top: 0;
    transform: rotate(0);
}

#menu__toggle:checked ~ .menu__btn > span::after {
    top: 0;
    transform: rotate(90deg);
}

#menu__toggle:checked ~ .menu__box {
    visibility: visible;
    left: 60%;
    z-index: 2;
}

.menu__btn {
    display: flex;
    align-items: center;
    position: fixed;
    top: 28px;
    width: 26px;
    height: 26px;
    cursor: pointer;
    z-index: 3;
}

.menu__btn > span,
.menu__btn > span::before,
.menu__btn > span::after {
    display: block;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #fff;
    transition-duration: .25s;
}

.menu__btn > span::before {
    content: '';
    top: -8px;
}

.menu__btn > span::after {
    content: '';
    top: 8px;
}

.menu__box {
    display: block;
    position: fixed;
    visibility: hidden;
    top: 0;
    left: -100%;
    width: -webkit-fill-available;
    height: fit-content;
    margin: 0;
    padding: 80px 0;
    list-style: none;
    background-color: #333;
}

.menu__item {
    display: block;
    padding: 12px 24px;
    color: #fff;
    font-size: 14px;
    font-weight: 600;
    text-decoration: none;
    transition-duration: .25s;
}

.menu__item:hover {
    background-color: #EC7979;
}

/* adaptive */

@media (max-width: 1390px){
    .social .social-links img{
        width: 65px;
    }

    .social-links{
        gap: 20px;
    }
}

@media (max-width: 1360px){
    h2{
        font-size: 26px;
    }

    .tab-content-descr h2{
        margin-bottom: 40px;
    }
}

@media (max-width: 1280px){
    .tab-content-descr h2{
        margin-bottom: 40px;
    }

    .tab-content-descr p{
        font-size: 16px;
        line-height: 20px;
        margin: 0 0 25px
    }

    .descr-social p {
        margin-top: 20px;
    }

    .title-trial{
        font-size: 20px;
        line-height: 24px;
    }
}

@media (max-width:1150px){
    .container{
        width: 90%;
    }

    .tab-content, .tab-content-image{
        height: 450px;
    }

    .tab-content-image{
        width: 40%;
    }

    .tab-content-image img{
        height: 100%;
        width: -webkit-fill-available;
        object-fit: cover;
    }

    .prices{
        gap: 20px;
    }

    .part{
        padding: 14px 110px;
    }
}

@media (max-width: 1024px){
    .container{
        width: 95%;
    }

    .logo{
        margin-left: 5%;
    }

    .info-zero{
        justify-content: space-between;
        margin-bottom: 31px;
    }

    .logo-ingo{
        width: 125px;
    }

    .logo-ingo img{
        width: 100%;
    }

    h1{
        font-size: 36px;
        line-height: 42px;
        margin: 54px 0 41px;
        width: 85%;
    }

    .gray-line{
        margin-bottom: 31px;
    }

    .title-zero{
        font-size: 14px;
        line-height: 16px;
        width: 45%;
    }

    .primary-btn{
        padding: 17px 50px;
    }

    .info-zero{
        position: relative;
    }

    .trial{
        width: 40%;
        position: absolute;
        right: 0;
        top: 0;
    }

    .content {
        padding: 154px 0 131px 0;
    }

    .title-trial {
        font-size: 18px;
        line-height: 25px;
    }

    h3{
        font-size: 18px;
        line-height: 25px;
    }

    .descr-social p{
        font-size: 14px;
        line-height: 16px;
    }

    .social-links {
        gap: 13px;
    }

    .social .social-links img{
        width: 64px;
    }

    .transition{
        margin-top: 50px;
        padding-bottom: 480px;
    }

    h2{
        font-size: 24px;
        line-height: 33px;
    }

    .tab-content-descr p{
        font-size: 14px;
        line-height: 16px;
        margin: 0 0 38px;
    }

    .secondary-btn{
        padding: 17px 65px;
    }

    .tab-content, .tab-content-image {
        height: 386px;
    }

    h2.awesome-container-h2, .raleway-h2{
        font-size: 24px;
        line-height: 28px;
        margin-bottom: 46px;
    }

    .awesome-container-title, .raleway-title{
        font-size: 14px;
        line-height: 16px;
        margin: 32px 0;
    }

    .awesome-container-advantages-advantage_item img{
        width: 147px;
        margin-bottom: 15px;
    }

    .awesome-container-advantages-advantage_item-title{
        font-size: 14px;
        line-height: 16px;
    }

    .awesome{
        margin-bottom: 60px;
    }

    .prices{
        margin-top: 16px;
    }

    .part {
        padding: 11px 100px;
    }

    .include{
        padding: 12px 25px;
    }

    .option, .feedback, .download, .contact-us{
        padding: 100px 0 50px;
    }

    .option .raleway-title{
        margin-bottom: 40px;
    }

    .review-descr{
        padding: 50px 15px;
        font-size: 14px;
        line-height: 16px;
    }

    .review{
        gap: 20px;
    }

    .info-person p{
        font-weight: 400;
        font-size: 14px;
        line-height: 16px;
        font-family: 'Raleway', sans-serif;
        margin: 0;
    }

    .info-person h3 {
        margin: 12px 0 15px;
    }

    .info-person{
        margin-left: 20px;
    }

    .download .primary-btn{
        padding: 17px 110px;
    }

    .forms{
        padding-top: 50px;
    }

    .contact-us .secondary-btn{
        padding: 17px 100px;
    }

    footer .social-links{
        gap: 20px;
    }

    footer .social-links img{
        width: 46px;
        height: 46px;
    }

    .privacy{
        font-size: 14px;
        line-height: 16px;
    }
}

@media (max-width: 905px){
    h1, .title-zero{
        width: 95%;
    }

    .social .social-links img {
        width: 55px;
    }

    .part {
        padding: 11px 80px;
    }
}

@media (max-width: 785px){
    .part {
        padding: 11px 60px;
    }
}

@media (max-width: 740px){
    header.adaptive{
        display: block;
        position: fixed;
        width: 100%;
        z-index: 2;
    }

    header.desktop{
        display: none;
    }

    .info-zero{
        flex-direction: column;
        text-align: center;
    }

    .logo-ingo{
        margin: 0 auto;
    }

    .descr-zero{
        margin: 0;
        width: 100%;
    }

    h1{
        margin: 44px 0 40px;
        width: 100%;
    }

    .gray-line{
        margin: 0 auto 31px;
    }

    .title-zero{
        margin: 0 auto;
    }

    .content .zero-btn{
        margin: 0 auto;
        width: fit-content;
    }

    .trial{
        width: 45%;
        right: 28%;
        top: 145%;
    }

    .content {
        padding: 130px 0 500px 0;
    }

    .social .container{
        flex-direction: column;
    }

    .descr-social{
        text-align: center;
    }

    .descr-social p {
        margin-top: 10px;
    }

    .social-links{
        margin-top: 15px;
    }

    .tab-content-image{
        display: none;
    }

    .tab-content-descr{
        margin: 0;
    }

    .tab-content{
        height: auto;
        padding: 60px 40px;
    }

    .transition {
        padding-bottom: 450px;
    }

    .awesome-container-advantages{
        flex-wrap: wrap;
        justify-content: center;
    }

    .awesome-container-advantages-advantage_item{
        width: 50%;
    }

    .option, .feedback, .download, .contact-us {
        padding: 80px 0 50px;
    }

    .prices{
        flex-wrap: wrap;
        justify-content: center;
        gap: 30px;
    }

    .price-item{
        width: 50%;
    }

    .slider-review{
        display: block;
    }

    .review-item.second, .review-item.third{
        display: none;
    }

    .review{
        justify-content: center;
    }

    .review-item{
        width: 50%;
    }

    .outline{
        width: 10px;
        height: 10px;
        border-radius: 50%;
        border: 1px solid #86878B;
    }

    .inline{
        width: 10px;
        height: 10px;
        border-radius: 50%;
        border: 1px solid #86878B;
        background-color: #86878B;
    }

    .slider-review{
        display: flex;
        width: 50%;
        justify-content: space-between;
        margin: 40px auto 0;
    }
}

@media(max-width: 655px){
    .trial{
        width: 65%;
        right: 18%;
    }

    .social .social-links img {
        width: 50px;
    }

    .tab-title{
        padding: 10px 70px;
    }

    .price-item, .awesome-container-advantages-advantage_item,
    .review-item {
        width: 60%;
    }

    .forms{
        flex-direction: column;
    }
}

@media (max-width: 575px){
    .tab-title {
        padding: 10px 50px;
    }

    .trial {
        width: 75%;
        right: 13%;
    }

    .price-item, .awesome-container-advantages-advantage_item, .review-item {
        width: 70%;
    }

    .message{
        margin-top: 20px;
    }

    #menu__toggle:checked ~ .menu__box {
        left: 50%;
    }
}

@media (max-width: 450px){
    .menu__btn{
        right: 3%;
    }

    .content .zero-btn, .primary-btn, .secondary-btn{
        width: 100%;
    }

    .contact-us .secondary-btn {
        padding: 17px 30px;
    }

    .logo-ingo{
        display: none;
    }

    .trial {
        width: 90%;
        right: 5%;
        top: 150%;
    }

    .social .social-links img {
        width: 45px;
    }

    .social-links{
        margin-top: 25px;
    }

    .descr-social p{
        width: 80%;
        margin: 20px auto 0;
    }

    .tab-title {
        padding: 10px 40px;
    }

    .tab-content{
        padding: 20px 30px;
        text-align: center;
    }

    .price-item, .awesome-container-advantages-advantage_item, .review-item {
        width: 90%;
    }

    .container {
        width: 92%;
    }

    footer .social-links img {
        width: 30px;
        height: 30px;
    }
}

@media (max-width: 400px){
    .trial {
        width: 100%;
        right: 0;
        top: 140%;
    }

    .social .social-links img {
        width: 35px;
    }

    .tab-title{
        font-size: 12px;
        padding: 10px 35px;
    }

    .price-item, .awesome-container-advantages-advantage_item, .review-item {
        width: 100%;
    }

    #menu__toggle:checked ~ .menu__box {
        left: 45%;
    }
}

@media (max-width: 350px){
    .tab-title {
        padding: 10px 30px;
    }

    footer .social-links img {
        width: 26px;
        height: 26px;
    }

    .social .social-links img {
        width: 30px;
    }
}

/* adaptive */